[MASTER]
# Add <file or directory> to the black list. It should be a base name, not a
# path. You may set this option multiple times.
ignore-patterns=test_.*?\.py


# Pickle collected data for later comparisons.
persistent=yes

# List of plugin names to load, usually to register additional checkers.
load-plugins=

[MESSAGES CONTROL]
# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED.
confidence=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple time (only on the command line, not in the configuration
# file where it should appear only once). You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use "--disable=all --enable=classes
# --disable=W".
disable=
    missing-docstring,
    too-few-public-methods,
    multiple-imports

[FORMAT]
# Expected format of line ending, especially useful when checking scripts as
# they are prone to have the wrong line ending convention.
#expected-line-ending-type=LF

# Maximum number of characters on a single line.
max-line-length=100

[DESIGN]
# Maximum number of arguments for function / method.
max-args=5

# Maximum number of attributes for a class.
max-attributes=7

[VARIABLES]
# A regular expression matching the name of dummy variables (i.e. expected to
# not be used).
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|^ignored_|^unused_

[LOGGING]
# The type of string formatting that logging methods do. `old` for %
# formatting, `new` for {} formatting
logging-format-style=old